.organisation-programme-card {
   @include flex($direction: column);

   &-img {
      width: 30%;
      @include flex;
      margin-bottom: 20px;


   }

   &-text {
      font-family: $font-title;
      font-style: normal;
      font-weight: 400;
      font-size: 1.4rem;
      line-height: 30px;
      text-align: center;

      color: #000000;
   }
}