.organisation {
    &-main {
        background: url("./assets/images/organisation.png") no-repeat center/cover;
        height: 100vh;
        position: relative;

        &-img {
            position: absolute;
            bottom: 20px;
            left: 50%;
            transform: translateX(-50%);
            width: 40%;

        }

    }

    &-programme {
        height: 100vh;
        width: 100%;
        background-color: $background-color-light;
        @include flex;
        padding-top: 20px;
        padding-bottom: 20px;

        &-list {
            position: relative;
            width:80%;

           display: grid;
           grid-template-columns: 1fr 1fr 1fr;
           
            row-gap: 10%;
            padding-top: 50px;
            padding-bottom: 100px;

            & > :nth-child(-n+3) {
                align-self: end;
              }

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
                width: 200px;
                border: 1px solid black;

            }

            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                width: 200px;
                border: 1px solid black;
            }
        }
    }
}