
@font-face {
    font-family: "bauer";
    src: url(./assets/fonts/BauerBodoniStd-Roman.ttf) format(truetype);
    font-display: swap;
  };

$font-title : 'bauer, serif';
$font-text : 'Libre Baskerville', serif;
