$color-light:#fff;
$color-nav-active:#AE5947;
$color-nav-active2:#991636;
$color-dark:#000;
$color-title:#721010;

$background-color-bandeau :#991636;
$background-color-light :#EDD7C7;
$background-white :#fff;